.comment {
    border-top: 1px solid #92dcde;
    text-align: left;
    margin: 15px;
    padding: 15px;
}
.deleteButton {
    background-color: white;
    border: 1px solid #92dcde;
    color: black;
    text-decoration: none;
    font-size: 12px;
    border-radius: 30px;
    float: right;
    padding: 8px;
}
.deleteButton:hover {
    background-color: #92dcde;
    color: #f6e4e4;
    text-decoration: none;
    cursor: pointer;
}
